<h1>字数统计</h1> <!-- 注释：题目标签-->
<a href="/about">about this site</a>
<!--增加一个跳转链接让我们回到主页: a + Tab, 输入..表示上一级;在空白处输入按钮名称，空白处即为显示内容-->
<br>
<form action="count">
    <!--提交后跳到/将用户引导至count这个地址（相当于主链接后加count的网页请求，于是按urls，function，templates流程跳转）-->
    <textarea name='text' id="" cols=100 rows=25>在此输入文本</textarea>
    <!--上方为设置文本区域允许用户输入文字，设置文本区域name，行列范围，文本框里的默认提示性文字“在此输入文本”-->
    <!--输入文本提交后再连接中会发现有 text这个文本框名，后面跟输入的内容（中文是乱码）-->
    <br>
    <!--空行标签，将按钮放在下面-->
    <input type="submit" value="统计" >
    <!--设置一个按钮，将文字提交给服务器,value用来设置按钮的文字样式-->
</form>
